<h1>Parent component</h1>

<div>
    <input type="text" [(ngModel)]="name" placeholder="Enter your name">
    <button (click)="getData()">show model value</button>
</div>

<div *ngIf="a == 2">
    <h1>Hello Angular</h1>
</div>

<div *ngIf="a !=2">
    <h1>Hii Angular</h1>
</div>

<div>
    <ul>
        <li *ngFor="let item of items">{{item}}</li>
    </ul>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Roll</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of example">
                    <td>{{item.name}}</td>
                    <td>{{item.roll}}</td>
                    <td>{{item.add}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<app-child [message]="parentMessage" (messageEvent)="receveMessage($event)"
    (messageEvent1)="receve1($event)"></app-child>